{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<h1>O horario agora é {{ the_horario }}</h1>
<form method='POST' action='/login/processing'>
<table>
<p>Use this form to submit a search request:</p>
<tr><td>E-mail:</td><td><input name='email' type='email' placeholder="E-mail"></td></tr>
<tr><td>Senha:</td><td><input name='senha' type='password' placeholder="Senha"></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value='Continuar' type='SUBMIT'></p>
</form>

{% endblock %}

